
<!--<div class="container" [style.width.px]="data.width" [style.height.px]="data.height">
    <div cdkDropList
        class="example-box"
        *ngFor="let todos of todo" 
        (cdkDropListDropped)="drop($event)"
        cdkDrag>

        <div>
            <img src="assets/herramientas/{{todos.file}}.png" >
        </div> 
    </div>
</div>-->



<div  cdkDropList
      class="example-box"
      (cdkDropListDropped)="drop($event)"
      cdkDrag
      class="container" #container [style.width.px]="data.width" [style.height.px]="data.height">

    <div class="resize resize__right"
          (resize)="onResize($event)"
          [targetElement]="container"
          [direction]="AngularResizeElementDirection.RIGHT" >
     </div>

        <div class="example-handle"  cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
        </div>

        <div  class="resize resize__bottom--right"
              (resize)="onResize($event)"
              [targetElement]="container"
              [direction]="AngularResizeElementDirection.BOTTOM_RIGHT">
            
           <img src="assets/herramientas/llave-inglesa.png.png" >
    </div>
</div>


<div  cdkDropList
      class="example-box"
      (cdkDropListDropped)="drop($event)"
      cdkDrag
      class="container" #container [style.width.px]="data.width" [style.height.px]="data.height">

    <div class="resize resize__left"
          (resize)="onResize($event)"
          [targetElement]="container"
          [direction]="AngularResizeElementDirection.LEFT" >
     </div>

        <div class="example-handle"  cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
        </div>

        <div  class="resize resize__bottom--left"
              (resize)="onResize($event)"
              [targetElement]="container"
              [direction]="AngularResizeElementDirection.BOTTOM_LEFT">
            
           <img src="assets/herramientas/llave-inglesa.png.png" >
    </div>
</div>




<!--

<div cdkDropList
     class="example-box"
     (cdkDropListDropped)="drop($event)"
     cdkDrag>
     

    <div class="resize resize__bottom--right"
        (resize)="onResize($event)"
        [targetElement]="container"
        [direction]="AngularResizeElementDirection.BOTTOM_RIGHT" >
          
    </div>
    <img class="container"
        #container 
        [style.width.px]="data.width" 
        [style.height.px]="data.height"   
        src="assets/herramientas/cutter.png.png" >
</div>-->





  


